[run]
relative_files = true
omit =
    */tests/*
    */*_check.py
    */__init__.py
    */conftest.py
    */.tox/*
    */.venv/*
    */.eggs/*
    */docs/*
    */build/*
    */dist/*
    */.git/*
    */.github/*
    */.vscode/*
    */.pytest_cache/*
