exclude: |
    (?x)(
      .venv/
    )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude_types: [ python ]
      - id: trailing-whitespace
        exclude_types: [ python ]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        exclude: ^tests/
        args: [
          --fix,
          --line-length=100,
          --select=PL,    # All Pylint rules
          --select=A001,  # Shadowing Python builtins
          --select=ARG,   # Unused function arguments
          --select=B,     # Bugbear rules (B002,B006,etc)
          --select=BLE,   # Blind except
          --select=C,     # Complexity
          --select=COM,   # Comma placement
          --select=E,     # pycodestyle errors
          --select=F,     # Pyflakes
          --select=G,     # Logging format
          --select=I,     # Import ordering
          --select=ISC,   # Implicit string concatenation
          --select=N,     # Naming
          --select=PIE,   # Misc rules
          --select=Q,     # Quotes
          --select=RET,   # Return statement
          --select=S,     # Security
          --select=SIM,   # Code simplification
          --select=SLF,   # Private member access
          --select=TID,   # Tidy imports
          --select=TRY,   # Exception handling
          --select=UP,    # Upgrade syntax
          --select=W,     # Warnings
          '--ignore=B019,S101,G004,TRY003,TRY300,TRY301,TRY400,UP007'  # Ignore docstring and `assert` detection
        ]
      - id: ruff
        name: ruff-format-tests
        files: ^tests/
        args: [
          --fix-only,
          --line-length=99
        ]
      - id: ruff-format
        args: [
          --line-length=100
        ]
  - repo: https://github.com/facebook/pyrefly-pre-commit
    rev: 0.52.0
    hooks:
      - id: pyrefly-check
        name: pyrefly check
        language: system
        args: [
          "--ignore=missing-import",
          "--ignore=missing-source-for-stubs",
          "--project-excludes=tests"
        ]
