[MASTER]
ignore=CVS

[MESSAGES CONTROL]
disable=attribute-defined-outside-init,
        broad-except,
        duplicate-code,
        import-error,
        invalid-name,
        line-too-long,
        logging-fstring-interpolation,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-member,
        protected-access,
        redefined-builtin,
        too-few-public-methods,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals,
        unused-variable,
        wrong-import-order,
        W0511

[FORMAT]
max-line-length=99
indent-string='    '

[BASIC]
good-names=i,
           j,
           k,
           ex,
           Run,
           _
bad-names=foo,
          bar,
          baz,
          toto,
          tutu,
          tata
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

[TYPECHECK]
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=pyspark.sql.functions
