# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)

# to test exactly the same versions as in Docker
-r requirements.txt

pip-tools

# tests
pytest
pytest-cov
coveralls
pytest-mock
requests-mock
freezegun

# code quality
pylint
mypy
pre-commit

# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin
