# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)

# to test exactly the same versions as in Docker
-r requirements.txt

pip-tools

# tests
pytest
coverage
pytest-mock
requests-mock
freezegun

# code quality
pylint
mypy
types-requests
types-python-dateutil
pydocstyle
pre-commit

# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin
