# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)

# to test exactly the same versions as in Docker
-r requirements.txt

pip-tools

# tests
pytest
pytest-cov
pytest-mock
requests-mock
freezegun

# code quality
pre-commit
pyrefly

# type stubs
google-api-python-client-stubs
types-requests
types-python-dateutil
types-httplib2

# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin
